head {
    font-family: 'Gentium Book Basic', serif;
    src: url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic")
}

body {
    font-family: 'Gentium Book Basic', serif;
    src: url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic")
}

h1 {

    text-align: center;
    font-weight: bold;
    font-size: 70pt;
    letter-spacing: -5px;
    margin-bottom: 0px;

}

p {

    text-align: center;
    font-size: 22pt;
    font-weight: regular;
    margin-top: 0px;
    letter-spacing: -1px;

}