
h1, h2, p {

  font-family: 'Gentium Book Basic', serif;

}


h1 {

  text-align: center;
  font-weight: bold;
  font-size: 64px;
  letter-spacing: -4px;
  margin-bottom: 0px;

}

.winnerIMG {
  
  animation: createBox 3s;

}

@keyframes createBox {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.galleryALL {

  margin: 0 auto;

}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

h2 {

  font-weight: bold;
  font-size: 48px;
  letter-spacing: -3px;
  margin-bottom: 0px;

}

#half-highlight {

  background-image: linear-gradient(to right, transparent 50%, #FBD834 50%);
  background-origin: 0;
  background-size: 200% 45%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-position: -100% 100%;

}

p {

  font-size: 28px;
  font-weight: regular;
  margin-top: 0px;
  letter-spacing: -1px;

}

/* footer {

  background-image: url("footer.png");
m
} */

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
